@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(180deg, rgba(218, 237, 243, 0.75), 42%, white);
    height: 100vh;
    background-repeat: no-repeat;
}

/* ------------------------- Header start --------------------------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    height: 70px;
    padding: 0% 1%;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(181, 181, 181, 0.2), 0 4px 10px 0 rgba(185, 185, 185, 0.19);
}

.navbar{
    width: 25%;
}

.logobite{
    width: 20%;
}

#home ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
}

#log{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#bite{
    color: black;
    text-decoration: none;
    font-size: 25px;
}

nav li{
    font-size: 20px;
}


#log:hover {
    text-decoration: underline;
    text-shadow: 1;  
}

nav li a{
    text-decoration: none;
    color: black;
}

nav li a:hover{
    text-decoration: underline;
    text-shadow: 1;
}

.menu {
    display: none;
}

.close {
    display: none;
}
/* ------------------------- Header end --------------------------- */

section{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 0px;
}

.contact-txt{
    width: 500px;
    height: 400px;
    border-radius: 2%;
    padding: 10px;
    margin: 50px auto;
}

.title{
    font-size: 42px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inputs {
    width: 500px;
    height: 500px;
    border-radius: 2%;
    padding: 10px;
    margin: 50px auto;
}

.msg-input{
    color: black;
    padding: 6px;
    font-size: 14px;
    font-weight: 500;
    width: 450px;
    height: 35px;
    margin-bottom: 5px;
}

#message{
    font-size: 14px;
    font-weight: 400;
    color: black;
    padding: 8px;
    resize: none;
    width: 450px;
}

#send{
    width: 140px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    cursor: pointer;
}

#send:hover{
    background-color: rgba(0, 0, 0, 0.85);
    border: 2px solid rgba(0, 0, 0, 0.9);
}

#send:active{
    background-color: rgba(0, 0, 0, 0.9);
}

.message-p{
    font-size: 20px;
    font-weight: 500;
    width: 260px;
    margin: 10px auto;
}

/*footer*/

footer{
    background-color: ghostwhite;
    padding: 70px 0;
}

.footer-container{
    width: 80%;
    height: 350px;
    margin: auto;
}

.footer-col ul{
    list-style: none;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
} 

footer li a{
    text-decoration: none;
    color: black;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
}

footer h3{
    padding-bottom: 40px;
    font-size: 20px;
}

.footer-col .socials a{
    display: inline-block;
    height: 50px;
    width: 50px;
    color: black;
    padding: 0;
}

.footer-col ul li a{
    font-size: 18px;
    transition: 0.3s;
}

.footer-col ul li a:hover{
    padding-left: 10px;
}

hr{
    width: 80%;
    margin: auto;
}

#hr1{
    margin-bottom: 25px;
}

.privacy{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}


.footer-col img{
    width: 60px;
    padding-right: 20px;
}

.fo-pic{
    width: 300px;
    margin-left: 350px;
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .navbar {
        width: 35%;
    }

    /*------footer----*/
    
    .fo-pic {
        margin-left: 0%;
    }

    .footer-col {
        width: 25%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .menu {
    display: block;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
    }

    #home ul {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    header svg {
    width: 2.5em;
    cursor: pointer;
    }

    nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 1000;
    transform: translateX(180%);
    }

    nav li, h2 {
        margin-top: 0px;
    }

    nav ul {
    text-align: center;
    color: black;
    padding: .75em 2em;
    display: block;
    }

    nav li {
        margin: 20px;
    }

    .close {
    margin: 0 auto;
    display: block;
    width: 2.5em;
    }

    h2 {
        text-align: center;
        width: auto;
    }

    .open-nav {
    background-color: white;
    transform: translateX(0);
    }

    #log {
        position: relative;
        margin: 0;
        padding: 0;
    }

    body{
        overflow-x: hidden;
    }

    .burger{
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .logobite {
        width: 100%;
    }
        /*-----footer------*/

        .footer-col {
            width: 30%;
        }
    
        .socials {
            display: flex;
            flex-direction: column;
        }
    
        .fo-pic {
            display: flex;
            margin: 0px;
            gap: 5%;
        }

        /*----------page---------*/

        section {
            display: flex;
            flex-direction: column;
        }

        .contact-txt {
            width: 85%;
            height: fit-content;
            margin: 0px auto;
           }

           .title{
            margin: 0px;
           }
    
    
           .contact-txt p {
            font-size: 15px;
            margin: 0% auto;
           }
    
           .inputs {
            width: 85%;
            margin: auto;
           }
    
           .inputs input, .inputs #message {
            width: 100%;
           }
}

@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .menu {
    display: block;
    }
    
    nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
    }

    #home ul {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    header svg {
    width: 2.5em;
    cursor: pointer;
    }

    nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70%;
    z-index: 1000;
    transform: translateX(180%);
    }

    nav li, h2 {
        margin-top: 0px;
    }

    nav ul {
    text-align: center;
    color: black;
    padding: .75em 2em;
    display: block;
    }

    nav li {
        margin: 20px;
    }

    .close {
    margin: 0 auto;
    display: block;
    width: 2.5em;
    }

    h2 {
        text-align: center;
        width: auto;
    }

    .open-nav {
    background-color: white;
    transform: translateX(0);
    }

    #log {
        position: relative;
        margin: 0;
        padding: 0;
    }

    body{
        overflow-x: hidden;
    }

    .burger{
        display: flex;
        gap: 5%;
        align-items: center;
    }

    .logobite {
        width: 100%;
    }

        /*------footer-------*/

        footer {
            margin: 0;
            padding: 0;
            display: block;
            height: fit-content;
        }
        
        .footer-container{
            width: 100%;
            height: fit-content;
        }
        
        .footer-col{
            font-size: 8px;
        }
        
        .footer-col ul li a{
            font-size: 13px;
        }
        
        .privacy{
            display: block;
        }
        
        
        hr{
            margin-left: 40px;
            width: 80%;
        }
        
        footer h3{
            padding-bottom: 15px;
        }
        
        .row{
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .footer-col{
            margin-bottom: 0;
            padding-bottom: 0;
            height: fit-content;
            width: 90%;
            /* width: fit-content; */
        }
        
        .socials {
            display: flex;
            justify-content: center;
        }
        
        .socials img {
            width: 20%;
        }
        .fo-pic {
            width: 90%;
            display: flex;
            justify-content: center;
            margin: 0px;
            gap: 15%;
            margin-bottom: 5%;
        }
        
        .fa-brands{
            font-size: 13px;
        }
        
        .fo-pic img {
            width: 17%;
            padding: 0px;
        }
        
        
        .email p{
            display: none;
        }
       /* ------------------------ */

       section{
        display: flex;
        flex-direction: column;
       }

       .contact-txt {
        width: 90%;
        margin: auto;
        height: fit-content;
       }

       .title {
        font-size: 30px;
        margin: 0px 0px 20px 0px;
       }

       .contact-txt p {
        font-size: 12px;
       }

       .inputs {
        width: 90%;
        margin: auto;
       }

       .inputs input, .inputs #message {
        width: 100%;
       }
    }